header{
  height: 75px;
  margin: 10px;
  width: auto;
  padding: 30px;
  background-color: #C0A464;
}

.pageContainer{
  width: auto;
  margin: auto;
  padding: 100px;
  background-color: #8DE3F8;
}

.pictureFrame{
  background-color: #C0A464;

.wrapper{
text-align: center;
}

.condense{
  width: 150px;
  text-align: center;
}

h1{
  font-family: "Comic Sans";
  font-size: 72px;
}

h2{
  font-family: "Comic Sans";
  font-size: 32px;
  
h3{
  font-family: "Comic Sans";
  font-size: 20px;
  }
